fluent-button[appearance='primary'] {
    border: none;
}

fluent-button[appearance='primary']:enabled {
    --gradient-brand-start: var(--app-brand);
    --gradient-brand-end: var(--app-brand-secondary);
    background: linear-gradient(135deg, var(--gradient-brand-start) 0%, var(--gradient-brand-end) 100%);
}

fluent-button[appearance='primary']:enabled:hover {
    --gradient-brand-start: oklch(from var(--app-brand) calc(l + 0.1) c h);
    --gradient-brand-end: oklch(from var(--app-brand-secondary) calc(l + 0.1) c h);
}

fluent-button {
    transition: --gradient-brand-start var(--transition), --gradient-brand-end var(--transition);
}

/* Theme Selector and Culture Selector*/

.theme-selector,
.culture-selector {
    border-radius: var(--borderRadiusCircular);
    border: 1px solid var(--color-glass-border);
    display: flex;
    overflow: hidden;
}

.theme-selector button,
.culture-selector button {
    outline: none;
    border-radius: var(--borderRadiusCircular);
    border: none;

    color: light-dark(var(--colorNeutralForeground2), var(--colorBrandForeground2));
    background: transparent;

    height: 32px;
    width: 36px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all var(--transition), --gradient-brand-start var(--transition), --gradient-brand-end var(--transition);

}

.theme-selector button.active,
.culture-selector button.active {
    --gradient-brand-start: var(--app-brand);
    --gradient-brand-end: var(--app-brand-secondary);
    color: var(--app-on-brand);

    background: linear-gradient(135deg, var(--gradient-brand-start) 0%, var(--gradient-brand-end) 100%);
}

.theme-selector button:hover:not(.active),
.culture-selector button:hover:not(.active) {
    background: var(--colorNeutralBackground1Hover);
}

.theme-selector button.active:hover,
.culture-selector button.active:hover {
    --gradient-brand-start: oklch(from var(--app-brand) calc(l + 0.1) c h);
    --gradient-brand-end: oklch(from var(--app-brand-secondary) calc(l + 0.1) c h);
}
