.fluent-stack-horizontal[role=menubar] fluent-divider[orientation=vertical],
div[role=menubar] fluent-divider[orientation=vertical] {
    min-height: 0 !important;
    height: 32px !important;
}

fluent-text-input {
    display: flex;
}

/* Fluent Layout */
.fluent-layout-item[area=header] {
    background: var(--color-glass-layer1-bg) !important;
    backdrop-filter: blur(10px) saturate(200%);
    border-bottom: 2px solid var(--color-glass-border) !important;
    color: var(--neutral-foreground-rest) !important;
    overflow: unset !important;
}

.fluent-layout-item[area=nav] {
    background: transparent !important;
}

.fluent-layout {
    --layout-header-height: 64px !important;
}