.fluent-layout-item[area=header] {
    background: var(--color-glass-bg) !important;
    backdrop-filter: blur(20px) saturate(200%);
    border-bottom: 1px solid var(--color-glass-border) !important;
    box-shadow: 0 4px 24px var(--color-glass-shadow) !important;
    color: var(--neutral-foreground-rest) !important;
}

.fluent-layout {
    --layout-header-height: 64px !important;
}