.fluent-layout-item[area=header] {
    backdrop-filter: var(--glass-blur);
    background: var(--glass-bg) !important;
    border: 1px solid var(--glass-border-color) !important;
    box-shadow: var(--glass-shadow) !important;
    color: var(--neutral-foreground-rest) !important;
}

.fluent-layout {
    --layout-header-height: 64px !important;
}