.header-footer-content {
    width: 100%;
    background: url(/assets/backgrounds/gradient.svg);
    display: flex;
    justify-content: center;
}

body[data-color-scheme="dark"] .header-footer-content {
    background: url(/assets/backgrounds/gradient-dark.svg)
}
