.root ::deep .fluent-layout-item[area=header] {
    position: sticky;
    width: 100%;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.header-container {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
}

.header-transparent{
    background: transparent;
}