div:hover {
    background: var(--neutral-fill-secondary-rest);
    cursor: pointer;
}
div {
    background: var(--neutral-fill-layer-rest);
    display: flex;
    flex-direction: row;
    border-radius: calc(var(--layer-corner-radius) * 1px);
    padding: calc(var(--design-unit) * 4px) !important;
    align-items: center;
    gap: calc(var(--design-unit) * 4px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 calc(1.5 * 0.25px) calc((1.5 * 0.5px)) rgba(0, 0, 0, 0.14);
}

    div .subtitle {
        color: var(--neutral-foreground-hint);
    }
