fluent-card:hover {
    background: var(--neutral-fill-secondary-rest);
    cursor: pointer;
}

fluent-card {
    background: var(--neutral-fill-layer-rest);
    display: flex;
    flex-direction: row;
    border-radius: calc(var(--layer-corner-radius) * 1px);
    padding: calc(var(--design-unit) * 4px) !important;
    align-items: center;
    gap: calc(var(--design-unit) * 4px);
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.12), 0 calc(1.5 * 0.5px) calc((1.5 * 1px)) rgba(0, 0, 0, 0.14);
}

    fluent-card .subtitle {
        color: var(--neutral-foreground-hint);
    }
