@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=IBM+Plex+Sans+Thai:wght@400;500;600;700&family=Sarabun:wght@400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap');
@import url('./components/_button.css');
@import url('./components/_content.css');
@import url('./components/_fluent.css');
@import url('./components/_glass.css');
@import url('./components/_utility.css');
@import url('./utilities/_identity.css');
@import url('./color.css');
@import url('./application.css');

:root {
    color-scheme: light dark;
    --design-unit: 4;
    --transition: .22s cubic-bezier(.4, 0, .2, 1);
}

html {
    scroll-behavior: smooth;
}

:root[data-color-scheme="dark"],
body[data-color-scheme="dark"],
body[data-theme="dark"] {
    color-scheme: dark;
}

:root[data-color-scheme="light"],
body[data-color-scheme="light"],
body[data-theme="light"] {
    color-scheme: light;
}
